.stats-grid:nth-child(3) {
    background-color: rgb(28, 28, 150);
    color: white;
}

.stats-container:hover {
    transform: translateY(-5px);
}

.workout-plan:nth-child(3) {
    border-left:5px solid orange;
    background-color: yellow;
}