.stats-grid:nth-child(3) {
    background-color: rgb(28, 28, 150);
    color: white;
}

.stats-container:hover {
    transform: translateY(-5px);
}

.workout-plan:nth-child(3) {
    border-left:5px solid orange;
    background-color: yellow;
}

.exercise-item:first-child {
    border-left: 5px solid green;
    background-color: rgb(166, 236, 166);
}

.exercise-item:nth-child(4) {
    border-left: 5px solid green;
    background-color: rgb(166, 236, 166);

}

.save-btn:hover {
    transform: translateY(-2px);
    background-color: #2563eb;

}


.progress-fill::after {
    content:"65%";
    position: relative;
    left: 264px;
    top: -6px;
}

.progress-bar {
    position: relative;
}

.stats-grid:first-child::before {
    content: "🔥";
}

.exercise-item:nth-child(even)::before {
    content: "⚡";
}
    
p::after {
    content:"‶";
    color:rgba(254, 230, 230, 0.914);
}

p::before {
    content:"‟";
    color:rgb(234, 226, 226);
    
}